
/* ------------------footer------------------ */

.footer {
  background-color: #222;
  padding: 1rem;
}

.title-footer {
  color: #9a381f;
  text-align: center;
  margin: 2rem;
}

.title-footer::before {
  content: "";
  background-color: #9a381f;
  height: 0.3rem;
  width: 100%;
}

.footer-links {
  display: block;
  text-align: center;
  margin-bottom: 1rem;
  text-decoration: none;
  font-size: 1.5rem;
  color: #777;
}

.social-links {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  line-height: 4;
}

.social-links a {
  margin-left: 2rem;
  text-decoration: none;
  margin-right: 1rem;
  color: aliceblue;
  text-align: center;
  margin-bottom: 2rem;
}

.footer-email {
  font-size: 1.2rem;
  color: #fff;
  text-align: center;
  margin-top: 2rem;
}

.copyright-text {
  padding: 2rem 3rem;
  color: #fff;
}

.donate-btn {
  border: 0.2rem solid #fff;
  padding: 1rem;
  background-color: rgba(255, 255, 0, 0.837);
  font-size: 1.4rem;
  color: #fff;
  width: 7rem;
  text-align: center;
  margin: 0 auto;
  border-radius: 0.5rem;
  cursor: pointer;
}

@media (min-width: 768px) {
  .footer {
    padding: 3rem;
  }

  .sub-footer {
    display: flex;
    justify-content: space-between;
  }

  .donate-btn {
    margin: 0;
    height: 4rem;
  }
}
